# Python dependencies
__pycache__/
*.pyc
# Environment variables
.env
**/.env
.env.*
!.env.example

# Virtual environments
venv/
.venv/
backend/venv_win/
backend/venv_unix_backup/

# Node.js dependencies
node_modules/
dist/

# System and IDE
.DS_Store
.vscode/

# Local database
backend/app.db
*.db

# Tool Binaries
Tools/
