# Python dependencies
__pycache__/
*.pyc
venv/
backend/venv_unix_backup/
.venv/

# Environment variables
**/.env

# Node.js dependencies
node_modules/
dist/

# System and IDE
.DS_Store
.vscode/

# Local database
backend/app.db
*.db
